# Core functionality - changes here should be rare!
/src/app.py                   @AamenaMahudhawala
/src/backend/database.py      @AamenaMahudhawala
/src/backend/routers/auth.py  @AamenaMahudhawala

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AamenaMahudhawala
